body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1,6;
  color: #333;
  
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  border: 0;
  margin: 40px 0;

  background-color: #e5e5e5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url("../img/intro.jpg") center no-repeat;
  background-size: cover;

  position: relative;

}

.intro__content{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 130px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 50px auto 50px;
}

.intro__subtitle {
  font-size: 72px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  vertical-align: top;

  border: 3px solid #fff;
  padding: 12px 25px;

  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  transition: background .2s linear, color .2s linear;
}

.btn:hover {
  background: #fff;
  color: #333;
}



/* header */
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 13px;
  text-transform: uppercase;
}

.nav__link {
color: #fff;
text-decoration: none;
display: inline-block;
vertical-align: top;
margin: 0 15px;
position: relative;
}

.nav__link::after {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0 ;

  background-color: yellowgreen;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav__link:hover {
   color: yellowgreen;
   transition: color .2s linear;
}

.nav__link:hover::after {
opacity: 1;
}


/* Section */
.section {
 padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
 margin: 0 auto 50px;

 text-align: center;
}


.section__subtitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;

}

.section__title {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto 30px;

  background: #f38181;
}

.section__text {
  color: #333;
  font-size: 15px;
}

.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

}

.about__item {
  width: 380px;
  position: relative;

  background: #95e1d3;
}

.about__item:hover .about__image {
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__image img {
opacity: .1;
}

.about__item:hover .about__text{
  opacity: 1;
}

.about__image {
  transition: transform .2s linear;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about_image img {
  display: block;
  transition: opacity .1 linear;
 
}

.about__text {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-transform:uppercase;
  color: #fff;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, 50%, 0);
  transition: opacity .1 linear;
}

/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
  text-align: center;
  color: #fff;
}

.stat__item {
  padding: 70px 25px;
  flex: 1 1 0;
  border-left: 2px solid #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Section-2 */

.services {
  display: flex;
}

.services__item {
  flex: 1 1 0;

  padding-left: 85px;
  padding-right: 35px;
  position: relative;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  color: #999;
  font-size: 14px;
}